@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root{
    --cor-body: #3B4664;
    --cor-resultado: #191F32;
    --cor-font-primaria:#FDFFFF;
    --cor-font-secundaria:#464e59;
    --cor-font-terciaria:#fff9ff;
    --cor-teclado: #252D44;
    --cor-teclas: #E9E3DC;
    --cor-teclas-hover: #ffffff;
    --cor-teclaEnter: #D13F30;
    --cor-teclaEnter-hover: #ec5949;
    --cor-teclaReset: #647298;
    --cor-teclaReset-hover: #8b9dce;
    --cor-box-shadow-teclas: #b4a398;
    --cor-box-shadow-reset: #424e73;
    --cor-box-shadow-enter: #883900;
    --cor-proxtema: #c85401;
}

body{
    min-height: 100vh;
    background-color: var(--cor-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
     
}
    .attribution { font-size: 11px; text-align: center;
    color: var(--cor-teclaReset-hover); }
    .attribution a { color: var(--cor-teclaEnter-hover); }

#main{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cor-font-primaria);
}

header #d_tema{
    display: flex;
    gap: 20px;
    padding: 5px;
}

#tema_1{
    width: 30px;
    height: 30px;
    background-color: var(--cor-teclaEnter);
    border-radius: 20px;
}

#tema_1:hover{
    animation: ;
}

#d_resultado{
    background-color: var(--cor-resultado);
    width: 100%;
    height: 80px;
    border-radius: 8px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

#p_resultado{
    color: var(--cor-font-primaria);
    font-size: 32px;
    padding: 16px;
}

#d_teclado{
    width: 100%;
    min-height: 300px;
    border-radius: 8px;
    background-color: var(--cor-teclado);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    align-content: center;
    -webkit-user-select:none;  
    -moz-user-select:none;     
    -ms-user-select:none;      
    user-select:none; 

    
}

.tecla{
    border-radius: 8px;
    background-color: var(--cor-teclas);
    color: var(--cor-font-secundaria);
    font-size: 20px;
    flex-shrink: 1;
    width: 65px;
    height: 40px;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 0px 0px var(--cor-box-shadow-teclas);
    cursor: pointer;
}


.tecla:hover{
    background-color: var(--cor-teclas-hover);
}


#reset, #del{
    background-color: var(--cor-teclaReset);
    color: var(--cor-font-terciaria);
    box-shadow: 2px 2px 0px 0px var(--cor-box-shadow-reset);
}

#reset:hover, #del:hover{
    background-color: var(--cor-teclaReset-hover);
}


#enter{
    background-color: var(--cor-teclaEnter);
    color: var(--cor-font-terciaria);
    box-shadow: 2px 2px 0px 0px var(--cor-box-shadow-enter);
}


#enter:hover{
    background-color: var(--cor-teclaEnter-hover);
    color: var(--cor-font-primaria);
}
